.add-patient{ 
  flex-direction: row;
  display: inline-block;
  color:black;
  height: 40px;
  width: 150px;
  background: #E0A96D;
 
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: all .5s;
  padding: 0px 20px;
  font-weight: 700;
 
 


}

.styles-patients{
  flex-direction: row;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color:#664200;
    
}
